<footer class="footer">
  <ul class="footer-ul">
    <li class="footer-ul-li">
      <a class="footer-ul-li-a" href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="footer-ul-li">
      <a class="footer-ul-li-a" href="#"><i class="fa fa-facebook-official"></i></a>
    </li>
    <li class="footer-ul-li">
      <a class="footer-ul-li-a text-link" href="/Impressum">Impressum</a>
    </li>
    <li class="footer-ul-li">
      <a class="footer-ul-li-a text-link" href="/Datenschutz">Datenschutz</a>
    </li>
  </ul>
</footer>
