.frontpage {
  @media (min-width: $screen-md) {
    background-color: #fff;
    width: 100%;
  }
}

.frontpage-post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
  }
}

.frontpage-post-list-li {
  background-size: auto, cover;
  background-position: center center, center center;

  @media (min-width: $screen-sm) {
    display: inline-block;
    flex-grow: 1;
    width: calc(33.33vh - (47px / 3));
  }
}

.frontpage-post-list-li-a {
  color: #fff;
  display: block;
  height: calc(33.33vh - (47px / 3));
  padding: 1em;
  position: relative;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.frontpage-post-list-li-a-div {
  bottom: 1em;
  position: absolute;
}

.frontpage-post-list-li-a-div-div {
  background-color: rgba(58, 31, 133, .75);
  display: inline-block;
  padding: 5px;
}

.frontpage-post-list-title {
  vertical-align: bottom;
  transition: background-color .1s ease-out;
}

.pagination {
  padding: 1em;
  text-align: center;
}

.pagination-b {
  font-size: 1.2em;
}
