$transition-duration: .3s;
.header {
  background-color: rgba(58, 31, 113, 0);
  font-size: 1.2em;
  padding: 10px 0 5px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: background-color .1s;
  width: 100vw;
  z-index: 99;

  &.scrolled {
    background-color: rgba(58, 31, 113, .5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    transition: background-color .3s;

    .dontlike-logo {
      height: 27px;
      transition: height .3s ease-out;
    }
  }
}

.header-a {
  color: #fff;
  font-weight: 400;

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.dontlike-logo {
  height: 50px;
  fill: #fff;
  transition: height .2s;
}
