$transition-duration: .3s;
.header {
  background-color: rgba(58, 31, 113, 0);
  font-size: 1.2em;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: background-color .1s;
  width: 100vw;
  z-index: 99;

  // &.scrolled {
  //   background-color: rgba(58, 31, 113, .5);
  //   box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  //   transition: background-color .3s;

  //   .dontlike-logo,
  //   .drips {
  //     height: 27px;
  //     transition: height .3s ease-out;
  //   }
  // }
}

.header-a {
  color: #fff;
  font-weight: 400;

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.logo-container {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.dontlike-logo {
  position: absolute;
  height: 90px;
  fill: #fff;
  transition: height .2s;
  left: 0;
  z-index: 3;
}

.drips-container {
  animation-delay: 1s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: drip;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.drips {
  height: 90px;
  fill: #fff;
}

@keyframes drip {
  0% {
    height: 0;
  }
  50% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}