<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body">
     <!-- Icons -->
    {% include icons.html %}
    {% include header.html %}

    <div class="main-container">
      {{ content }}
    </div>

    {% include footer.html %}

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index.js"></script>
  <!-- endinject -->
  {% include GA.html %}
  </body>

</html>
