---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% if page.youtube_id %}
        <header class="post-header">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube_id }}?modestbranding&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
            <img class="alternative-image" src="https://img.youtube.com/vi/{{ page.youtube_id }}/maxresdefault.jpg" alt="{{ page.title }} Bild" />
          </div>
        </header>
        {% else %}
        <header class="post-header post-header-img" style="background-image: url('/assets/images/posts/{{ page.header_img }}.jpg');">
        </header>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="post-content" itemprop="articleBody">
          <h1 class="post-title-h1" itemprop="name headline">{{ page.title }}</h1>
          <div class="post-title-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d. %B %Y" }}</time>
            {% if page.author %}
               • von <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
            {% if page.tags %}
              <ul class="tags">
                {% for tag in page.tags %}
                  <li><a class="post-tag" href="/tag/{{ tag | replace: ' ', '-' | downcase }}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="post-text">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
