---
layout: default
---
<div class="archiv">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="archiv-h1">Alle Posts mit dem {{ page.type }} <span class="post-tag mod-no-hover">{{ page.title }}</span></h1>
        <ul class="post-list tag-list">
          {% for post in page.posts %}
          <li class="post-list-li" style="background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .75) 100%), url('{{ post.image }}')">
            <a href="{{ post.url }}" class="post-list-li-a">
              <div class="post-list-li-a-div">
                <div class="post-list-li-a-div-div post-list-date">{{ post.date | date: '%-d. %B %Y' }}</div>
                <div class="post-list-li-a-div-div post-list-title">{{ post.title }}</div>
                <div class="post-list-excerpt">{{ post.excerpt }}</div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
